@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: theme('colors.background.light');
    --color-text: theme('colors.text.light');
  }

  .dark {
    --color-background: theme('colors.background.dark');
    --color-text: theme('colors.text.dark');
  }

  body {
    @apply bg-background-light text-text-light dark:bg-background-dark dark:text-text-dark transition-colors duration-200;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}